.lomakediv {
  max-width: 1000px;
  margin: auto;
}

.sisaltodiv {
  background-color: rgb(223, 219, 219);
  width: 90%;
  border-radius: 20px;

  margin: auto;
}

.teksti {
  text-align: center;
}

.spostifield {
  margin-top: 50px;
  text-align: center;
}

.spostifield input {
  margin-top: 20px;
  width: 80%;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}

.biginput {
  width: 100%;
  margin: auto;
  text-align: center;
}
.biginput textarea {
  font-size: 1.3rem;
  width: 80%;
}

.button {
  text-align: center;
}
.button button {
  width: 130px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
